In [1]:
import csv
import numpy as np
lines=[]

In [2]:
with open('company_data.csv') as csvfile:
    reader = csv.reader(csvfile,delimiter=';')
    for row in reader:
        lines.append(row)

In [3]:
lines

[['Id', 'First Name', 'Last Name', 'Salary', 'Gender', 'Birth'],
 ['1', 'Kowalski', 'Jan', '4000', 'M', '1987'],
 ['2', 'Nowak', 'Marta', '5000', 'F', '1986'],
 ['3', 'Marciniak', 'Anna', '6000', 'F', '1983'],
 ['4', 'Butko', 'Marcin', '4200', 'M', '1977'],
 ['5', 'Sarbak', 'Piotr', '5200', 'M', '1975'],
 ['6', 'Waliszewski', 'Adam', '4400', 'M', '1990'],
 ['7', 'Wojtal', 'Aleksander', '3800', 'M', '1989'],
 ['8', 'Nowocki', 'Bogusz', '4100', 'M', '1991'],
 ['9', 'Stefaniak', 'Artur', '4900', 'M', '1995'],
 ['10', 'Urbaniak', 'Tomasz', '5100', 'M', '1975'],
 ['11', 'Dziurla', 'Agata', '3800', 'F', '1973'],
 ['12', 'Rodziszewska', 'Anna', '3900', 'F', '1995'],
 ['13', 'Stempiniak', 'Monika', '4600', 'F', '1971'],
 ['14', 'Horny', 'Adam', '4700', 'M', '1985'],
 ['15', 'Dziarska', 'Aniela', '4500', 'F', '1995'],
 ['16', 'Antoniewicz', 'Marian', '4400', 'M', '1976'],
 ['17', 'Melerowicz', 'Weronika', '4900', 'F', '1973'],
 ['18', 'Jacewicz', 'Maciej', '5000', 'M', '1972'],
 ['19', 'Izydorczyk', 'Andrzej', '4400', 'M', '1976'],
 ['20', 'Majewska', 'Iwona', '4500', 'F', '1982']]

# Zad 1
###### Korzystając z dokumentacji modułu csv (https://docs.python.org/3/library/csv.html) napisz skrypt, za pomocą którego wczytasz dane z pliku company_data.csv.

In [4]:
len(lines)-1

20

# Zad 2
###### Na wskazanym pliku wykonaj podstawowe analizy - odpowiedz:
a) ile w firmie pracuje osób,<br>
b) jaki jest stosunek liczby zatrudnionych kobiet do mężczyzn<br>
c) Kto w fimie zarabia najmniej a kto najwięcej?<br>
d) Jakie jest średnie wynagrodzenie w firmie?<br>
e) Jakie jest odchylenie standardowe wynagrodzenia w firmie?

In [5]:
men=0
women=0
max_salary=int(lines[1][3])
max_index=1
min_salary=int(lines[1][3])
min_index=1
avg=0
for i,line in enumerate(lines[1:]):
    if int(line[3])>max_salary:
        max_salary = int(line[3])
        max_index = i+1
    if int(line[3])<min_salary:
        min_salary = int(line[3])
        min_index = i+1
    if line[4]=='F':
        women+=1
    else:
        men+=1
    avg+=int(line[3])
avg/=len(lines)-1

In [6]:
men

12

In [7]:
women

8

In [8]:
lines[max_index]

['3', 'Marciniak', 'Anna', '6000', 'F', '1983']

In [9]:
lines[min_index]

['7', 'Wojtal', 'Aleksander', '3800', 'M', '1989']

In [10]:
avg

4570.0

In [11]:
salaries=[]
for line in lines[1:]:
    salaries.append(int(line[3]))

In [12]:
np.std(salaries)

535.8171329847526

# Zad 3
###### Wygeneruj samodzielnie listę 10-ciu pracowników, którym przypiszesz nr ID, Imię, Nazwisko, płeć oraz wynagrodzenie. Następnie korzystając z dokumentacji modułu csv (https://docs.python.org/3/library/csv.html) zapisz swoją listę do pliku csv.

In [13]:
import random
workers =[]
imiona = ['Jan','Kuba','Przemek','Konrad','Michał','Kasia','Iwona','Laura','Wiktoria','Tomek']
nazwiska = ['Kowalski','Pies','Szybki','Wolny','Małysz','Nowak','Prosta','Płaska','Las','Ogórek']
plec =['M','M','M','M','M','F','F','F','F','M']
zarobki = [random.randrange(2000,10000,100) for i in range(10)]
workers.append(['ID','Imię','Nazwisko','płeć','wynagrodzenie'])
for i in range(10):
    workers.append([i+1,imiona[i],nazwiska[i],plec[i],zarobki[i]])

In [14]:
with open('workers.csv', 'w', newline='',encoding='utf-8') as f:
    writer = csv.writer(f,delimiter=';')
    writer.writerows(workers)